.page {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	z-index: 1;

	background-image: url('../../assets/img/desert_bg.jpg');
	background-size: cover;

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(187, 187, 187, 0.4);
	}
}

.layout {
	padding: 90px;
	background-color: white;

	h1,
	h2 {
		text-align: center;
	}

	h1 {
		margin-bottom: 8px;
		color: #9e6baf;
	}

	h2 {
		margin-bottom: 24px;
	}
}

.base {
	display: flex;
	flex-direction: column;
	row-gap: 16px;

	h1 {
		margin-bottom: 100px;
	}
}

.input {
	display: flex;
	flex-direction: column;
	row-gap: 8px;

	input {
		display: flex;

		width: 300px;
		padding: 10px;

		outline: none;
		border: 1.5px solid black;
	}

	label {
		font-size: 14px;
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 8px 0;

	background-color: transparent;
	border: 1.5px solid #9e6baf;

	color: #9e6baf;
	font-weight: 500;
	letter-spacing: 0.02rem;

	cursor: pointer;
	transition: 0.2s ease-out;

	&:hover {
		background-color: #9e6baf;
		border: 1.5px solid transparent;
		color: white;
	}
}

.error {
	font-size: 13px;
	color: rgb(167, 35, 35);

	max-width: 240px;
	word-wrap: break-word;
	text-align: center;
}

.register {
	color: inherit;
}

.redirect {
	display: flex;
	justify-content: space-between;
	font-size: 14px;

	span {
		color: rgb(122, 122, 122);
	}

	a {
		transition: 0.2 ease-out;
		&:hover {
			color: #9e6baf;
		}
	}
}
