.page {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	z-index: 1;

	background-image: url('../../assets/img/desert.jpg');
	background-size: cover;

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(91, 88, 229, 0.3);
	}
}

.layout {
	padding: 90px;
	background-color: white;

	h1 {
		margin-bottom: 8px;
		color: rgb(159, 107, 176);
	}

	h2 {
		margin-bottom: 24px;
	}
}

.base {
	display: flex;
	flex-direction: column;
	row-gap: 16px;

	h1 {
		margin-bottom: 100px;
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 8px 0;

	background-color: transparent;
	border: 1.5px solid #5b58e5;

	color: #5b58e5;
	font-weight: 500;
	letter-spacing: 0.02rem;

	cursor: pointer;
	transition: 0.2s ease-out;

	&:hover {
		background-color: #5b58e5;
		border: 1.5px solid transparent;
		color: white;
	}
}

.notification {
	font-size: 12px;

	max-width: 300px;
	word-wrap: break-word;
	text-align: center;
}

.register {
	color: inherit;
}

.redirect {
	display: flex;
	justify-content: space-between;
	font-size: 14px;

	span {
		color: rgb(122, 122, 122);
	}

	a {
		transition: 0.2 ease-out;
		&:hover {
			color: #5b58e5;
		}
	}
}
